<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/coffeetect_icon"
        android:label="Coffeetect"
        android:roundIcon="@drawable/coffeetect_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoffeeTech"
        tools:targetApi="31">
        <activity
            android:name=".Months_saved"
            android:exported="false" />
        <activity
            android:name=".Line_chart"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".Geo_Location_Maker"
            android:exported="false" />
        <activity
            android:name=".MonthlyReport2"
            android:exported="false" />
        <activity
            android:name=".ResultActivity2"
            android:exported="false" />
        <activity
            android:name=".Recommendation10"
            android:exported="false" />
        <activity
            android:name=".Recommendation9"
            android:exported="false" />
        <activity
            android:name=".Recommendation8"
            android:exported="false" />
        <activity
            android:name=".Recommendation7"
            android:exported="false" />
        <activity
            android:name=".Recommendation6"
            android:exported="false" />
        <activity
            android:name=".Recommendation5"
            android:exported="false" />
        <activity
            android:name=".Recommendation4"
            android:exported="false" />
        <activity
            android:name=".Recommendation3"
            android:exported="false" />
        <activity
            android:name=".Recommendation2"
            android:exported="false" />
        <activity
            android:name=".Recommendation1"
            android:exported="false" />
        <activity
            android:name=".TreeResult10"
            android:exported="false" />
        <activity
            android:name=".TreeResult9"
            android:exported="false" />
        <activity
            android:name=".TreeResult8"
            android:exported="false" />
        <activity
            android:name=".TreeResult7"
            android:exported="false" />
        <activity
            android:name=".TreeResult6"
            android:exported="false" />
        <activity
            android:name=".TreeResult5"
            android:exported="false" />
        <activity
            android:name=".TreeResult4"
            android:exported="false" />
        <activity
            android:name=".TreeResult3"
            android:exported="false" />
        <activity
            android:name=".TreeResult2"
            android:exported="false" />
        <activity
            android:name=".Capture"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".OtherTree"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".History2"
            android:exported="false" />
        <activity
            android:name=".History3"
            android:exported="false" />
        <activity
            android:name=".History4"
            android:exported="false" />
        <activity
            android:name=".History5"
            android:exported="false" />
        <activity
            android:name=".History6"
            android:exported="false" />
        <activity
            android:name=".History7"
            android:exported="false" />
        <activity
            android:name=".History8"
            android:exported="false" />
        <activity
            android:name=".History9"
            android:exported="false" />
        <activity
            android:name=".History10"
            android:exported="false" />
        <activity
            android:name=".TreeResult1"
            android:exported="false" />
        <activity
            android:name=".LeafMiner"
            android:exported="false" />
        <activity
            android:name=".LeafRust"
            android:exported="false" />
        <activity
            android:name=".SootyMolds"
            android:exported="false" />
        <activity
            android:name=".Phoma"
            android:exported="false" />
        <activity
            android:name=".Cercospora"
            android:exported="false" />
        <activity
            android:name=".MonthlyReport"
            android:exported="false" />
        <activity
            android:name=".TreeVisualization"
            android:exported="false" />
        <activity
            android:name=".DiseasesInformation"
            android:exported="false" />
        <activity
            android:name=".CameraPage"
            android:exported="false" />
        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>